* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
}

html {}

body {
    margin: 0;
    padding: 0;
    background-color: #353238;
    color: #f8f8f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.post {
    max-width: 80%;
    margin: 1rem auto;
    border-style: solid;
    padding: 1rem;
    border-radius: 4px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 1rem;
    grid-row-gap: 0.1rem;

}

.post>div,
.post>span {
    border-style: dashed;
    margin: 0.69rem;
    padding: 0.5rem;
}

a {
    color: #8be9fd;
}

button {
    color: inherit;
    background-color: inherit;
    border-radius: 3px;
    text-transform: uppercase;
    margin: 0.69rem auto;
    padding: 0;
    max-width: 50%;
    border-style: none;
    text-decoration: underline;
}

#settings {
    float: left;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}


.thumbnail {
    border-radius: 5px;
    max-width: 5.5rem;
    max-height: auto;
    margin: 0;
    padding: 0;
    grid-column: 5/span 2;
}



.title {
    font-size: 0.69rem;
    font-weight: bold;
    grid-column: 1/span 3;
}

.domain {}

.subreddit {
    color: inherit;
}

.upvotes {}

.comments {
    color: inherit;
}

.time {}

.permalink {}

.loadMore {
    display: block;
    margin: 1rem auto 5rem auto;
}

#nav_bar {
    position: fixed;
    bottom: 93%;
    right: 0;
    left: 0;
    top: 0;
    background-color: #44475a;
    display: flex;
}

#feed {
    margin-top: 6.9rem;
}

.post_modal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to left, #B24592, #F15F79);
}

@media only screen and (min-width: 480px) {
    .title {
        font-size: 1.69rem;
    }

    .thumbnail {
        max-width: 6.9rem;
    }
}