<!DOCTYPE html>
<html>
<!--This is a template, based on dribble, that will hopefully help me get better at designing stuff. When done, changes will be ported back to /index.html. -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dribble Templates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <main>
        <h2>Notes</h2>
        <form>
            <input id="text" autocomplete="false" placeholder="Start Typing. . . .">
        </form>
    </main>
    <script src="main.js">

    </script>
</body>

</html>